<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>PRACTICA CON ANGULAR</h1>

  <h2>{{title}}</h2>

  <!-- <div>
    @if(numero>=10){
      <p>
        lorem ipsum dolor sit amet
      </p>
    }
  </div> -->

  <!-- @for(pelicula of peliculas; track $index){
    <div>
      <div>Id: {{$index+1}}</div>
      <label for="">Peliculas: {{pelicula.name}}</label>
      <div>Edad: {{pelicula.edad}} </div>
    </div>
  } -->

  <!-- @for(pelicula of peliculas; track $index){
    <div>
      <div>Id: {{$index+1}}</div>
        
      @for(item of pelicula.name; track $index ){
        <label for="">Peliculas: {{item.nombre}}</label>
      }

      <div>Edad: {{pelicula.edad}} </div>
    </div>
  } -->

  <a routerLink="home">Home</a> <br>
  <a routerLink="nosotros">Nosotros</a>

  <hr>
  <h2>Trabajo con componente</h2>

  <router-outlet></router-outlet>

</body>
</html>